# .env
# 端口号
PORT=5100

# 关闭颜色输出
#NO_COLOR=true


# Bitcoin RPC Configuration
BITCOIN_RPC_URL=http://127.0.0.1:8332
BITCOIN_RPC_USER=scash_user
BITCOIN_RPC_PASS=scash_password
BITCOIN_RPC_TIMEOUT=10000

# Bitcoin ZMQ Configuration
BITCOIN_ZMQ_URL=tcp://127.0.0.1:28332

# Mining Configuration
# 比如 SCASH 或 BTC 的网络 ID
COIN_NETWORK=mainnet
